{% extends 'accounts/base.html' %}
{% block title %}Password Reset{% endblock %}

{% block body %}
    <section class="h-screen lg:w-2/3">
        <section class="lg:mx-48 lg:mt-4">
            <a href="/" class="logo lg:text-3xl" title="The Johannesburg Communication Software Systems Company">jocoss</a>
        </section>

        <article class="lg:mt-12">
            <section class="flex justify-center">
                <form>
                    <h1 class="lg:text-5xl">Forgot password?</h1>
                    <div class="lg:mt-24 lg:mb-5">
                        <label class="lg:text-sm" for="email">
                            Email address
                        </label>
                        <br/>
                        <input
                                id="email"
                                class="lg:text-sm form-input-border lg:mt-3 lg:py-4 lg:px-5 lg:min-w-96 bg-black placeholder:text-gray-600 rounded-lg"
                                type="email"
                                placeholder="Email address"
                        />
                    </div>
                    <button
                            class="bg-white text-black lg:w-96 lg:text-sm lg:py-3 rounded-lg"
                            type="submit"
                    >
                        Send reset link
                    </button>
                    <p class="lg:text-sm lg:mt-6">
                        Go back to sign in
                        <a class="underline" href="{% url 'accounts:user_login' %}">
                            here</a>.
                    </p>
                </form>
            </section>
        </article>
    </section>
{% endblock %}